---
import Layout from '../layouts/Layout.astro';
import LandingHero from '../components/LandingHero.astro';
import FeaturedWorkScroll from '../components/FeaturedWorkScroll.astro';
import FeaturedGallery from '../components/FeaturedGallery.astro';
---

<Layout>

  <section>
    <LandingHero />
  </section>

  <section>
    <FeaturedWorkScroll />
  </section>

  <section>
    <FeaturedGallery />
  </section>

</Layout>
